<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474776450710-3s6uif5uqnob5egk8ifg5shah2rpbc2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474776450710-3s6uif5uqnob5egk8ifg5shah2rpbc2m</string>
	<key>API_KEY</key>
	<string>AIzaSyAVXyp8S0qodeAnghIV9WlbsMRaD3SFSkI</string>
	<key>GCM_SENDER_ID</key>
	<string>474776450710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jattersley.Brian</string>
	<key>PROJECT_ID</key>
	<string>brian-defd8</string>
	<key>STORAGE_BUCKET</key>
	<string>brian-defd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474776450710:ios:232d2b33c4fb529af574b7</string>
</dict>
</plist>